@import '_variables';


@font-face {
    font-family: 'PingFangTC';
    src: url('../PingFangTC-Semibold.ttf') format("woff"),
}

@font-face {
    font-family: 'PingFangTC-light';
    src: url('../PingFang-Light.ttf') format("woff"),
}

@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: url('../HelveticaNeue\ Regular.ttf') format("woff"),
}

* {
    font-family: 'PingFangTC';

    a {
        cursor: pointer;
    }
}

body {
    max-width: 100%;
}

.out-container {
    max-width: 1024px;
    margin: 0 auto;
}

.nav-left-btn {
    max-width: 24px;
    height: 24px;
}

.out-frame {
    max-width: 940px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-logo-first {
    max-width: 215px;
    height: 40px;
}

.header-shop-logo {
    max-width: 24px;
    height: 24px;
    // margin-top: 40%;
}

.header-li-mr {
    color: $primary-color;

    a:hover {
        border-bottom: 3px solid $second-color;
        color: $second-color;
    }
}

.main-img {
    background: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 940px;
    height: 496px;
    margin: 0 auto;
}

.three-box {
    // padding: 0 80px;
    // height: 256px;
    gap: 1px;
    max-width: 940px;

    li {
        margin-top: 0px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        letter-spacing: 5px;
        writing-mode: vertical-rl;
        backdrop-filter: blur(5px);
        color: white;
        background-color: rgba(63, 93, 69, 0.8);
        ;
    }
}

.main-box1 {
    background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=600&q=60);
    width: 33.333333%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-box2 {
    background-image: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60);
    width: 33.333333%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-box3 {
    background-image: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60);
    // flex: 3;
    width: 33.333333%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-a {
    transition: 0.6s ease;
}

.main-a:hover {
    background-color: $second-color;
}

.bottom-content-one {
    background-color: #EAF0ED;
}

.bottom-content-two {
    background-color: #EAF0ED;
}

.bottom-hidden-img {
    max-width: 196px;
    height: 60px;
    margin: 0 auto;
}

.bottom-hidden-second-img {
    width: 88px;
    height: 307px;
}

.intro-one-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.intro-two-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.bottom-content-one p {
    font-family: 'PingFangTC-light';
}

.bottom-content-two p {
    font-family: 'PingFangTC-light';
}

.bottom-card-footer a:hover {
    background-color: $primary-color;
    color: white;
}

.bottom-card-footer a {
    transition: 0.6s ease;
}

.bottom-card-left li:hover {
    background-color: #EAF0ED;
}

.product-page-footer-li_Num a:hover {
    background-color: $primary-color;
    color: white;
}

.product-page-footer-li_Num a {
    transition: 0.6s ease;
}

.product-page-footer-li_Arrow a:hover {
    background-color: #EAF0ED;
}

.product-page-footer-li_Arrow a {
    transition: 0.6s ease;
}

.bottom-card-img1 {
    background-image: url("../img/p-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-card-img2 {
    background-image: url("../img/p-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-card-img3 {
    background-image: url("../img/p-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-card-img4 {
    background-image: url("../img/p-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-card-img5 {
    background-image: url("../img/p-5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-card-img6 {
    background-image: url(https://images.unsplash.com/photo-1504473089979-b1c4993a9653?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9db69b72e1f7d1b4e5c81cee531108ff&auto=format&fit=crop&w=700&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product-big-img {
    background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=800&q=60);
    width: 100%;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

.bottom-card-container ul {
    border-right: #EAF0ED solid 1px;
    border-left: #EAF0ED solid 1px;
}

.bottom-card-right ul {
    border-right: #EAF0ED solid 1px;
    border-left: #EAF0ED solid 1px;
}

.product-page-footer ul li {
    border: 1px solid #EAF0ED;
}

// .product-page-footer-li:hover{
//     background-color: $primary-color;
//     color: white;
// }
.color-block.active {
    background-color: $primary-color;
    color: #EAF0ED;
}

.login-left button:hover {
    background-color: darken($second-color, 30%);
}

.login-right a:hover {
    background-color: $second-color;
}


.login-right a {
    transition: 0.6s ease;
}

.cart_content_list {
    border-bottom: 1px solid #EAF0ED;
}

.cartLIstItem_body_button p {
    border: 1px solid #EAF0ED;
}

.cartLIstItem_body_button button {
    border: 1px solid #EAF0ED;
}

.cartLIstItem_footer {
    border-top: 1px solid #EAF0ED;
}

.cart_right_list {
    border-top: 1px solid #EAF0ED;
}

.cartLIstItem_body_button button:hover {
    background-color: #3F5D45;
    color: white;
}

.btn-delete:hover {
    color: red;
}

.checkout-btn:hover {
    background-color: darken($second-color, 30%);
}

.footer-head-right button:hover {
    background-color: darken($second-color, 20%);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: calc((100% - 48px) / 2);
    background-color: #EAF0ED;
    height: 2px;
}

.timeline:after {
    width: calc((100% - 48px) / 2);
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: #EAF0ED;
    height: 2px;
}

.timeline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.timeline__item {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #EAF0ED;
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.doingState {
    width: 12px;
    height: 12px;
    background-color: #EAF0ED;
    border-radius: 50%;
}

.address_select .city_box::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    border-color: #3F5D45 transparent transparent transparent;
}

.address_select .area_box::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    border-color: #3F5D45 transparent transparent transparent;
}

.address_select .city_box:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 20px;
    border-color: transparent transparent #3F5D45 transparent;
}

.address_select .area_box:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 20px;
    border-color: transparent transparent #3F5D45 transparent;
}

.transport_right_amount {
    border: 1px solid #EAF0ED;
}

.transport_right_item {
    border: 1px solid #EAF0ED
}
.form-button:hover{
    background-color: darken($second-color, 20%);
}
.finishState:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 1px solid #3F5D45;
    border-bottom: 1px solid #3F5D45;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
}
.paymentForm__deadline__select .monthbox::before, .paymentForm__deadline__select .yearbox::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    border-color: #3F5D45 transparent transparent transparent;
}
.paymentForm__deadline__select .monthbox:after, .paymentForm__deadline__select .yearbox:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 20px;
    border-color: transparent transparent #3F5D45 transparent;
}
.payment_form_content_security input{
    width: calc(50% - 8px);
}

.invoiceForm_type{
    border: 1px solid #EAF0ED;
}
.invoiceForm_type  button {
    width: 50%;
    height: 100%;
    font-weight: 600;
    border: none;
    color: #EAF0ED;
    background-color: #3F5D45;
    font-size: 20px;
    padding: 14px 0px;
}
.btn_handle {
    background-color: #EAF0ED !important;
    color: #3F5D45 !important;
}
.invoiceForm__address__select .citybox::before, .invoiceForm__address__select .areabox::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    border-color: #3F5D45 transparent transparent transparent;
}
.invoiceForm__address__select .citybox:after, .invoiceForm__address__select .areabox:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 20px;
    border-color: transparent transparent #3F5D45 transparent;
}
.payfinish:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
}
.settle:before {
    background-color: #3F5D45;
}
.settle:after {
    background-color: #3F5D45;
}
.success_main_content{
    width: 100%;
    height: 518px;
    padding-top: 210px;
    background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf…&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
}
.ham-nav {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  /* 隱藏 checkbox */
  .ham-input {
    display: none;
  }
  
  /* 漢堡按鈕 */
  .ham-label {
    float: left;
  
    img {
      width: 30px;   
      vertical-align: middle;
    }
  }
  
  /* 選單列 */
  .ham-menu {
    clear: both;
    background: #fff;
    li {
    //   border-bottom: 2px solid #efefef;
      a {
        display: block;
        padding: 10px 0;
        font-size: 20px;
        &:hover {
          background: $primary-color;
          color: #fff;
        }
      }
    }
  }
  
  .ham-menu {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .ham-input:checked ~ .ham-menu {
    max-height: 300px;
  }

.success_btn:hover{
    background-color: darken($second-color,20%);
}